.footer {
  margin-top: 200px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--blue);
  padding: 32px 64px;

  &__left {
    width: calc(20% - 64px);
    display: flex;
    gap: 17px;
    &__logo {
      display: flex;
      align-items: center;
      justify-content: center;
      & img {
        width: 29px;
        aspect-ratio: 1 / 1;
      }
    }

    &__text {
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: var(--paragraph-1);
      font-weight: 700;
      color: var(--blue);
    }
  }

  &__middle {
    width: 60%;
    display: flex;
    justify-content: center;
    &__items {
      display: flex;
      gap: 50px;

      &__item {
        cursor: pointer;
        text-decoration: none;
        color: white;
        &#icon {
          display: none;
        }
      }
    }
  }

  &__right {
    width: calc(20% - 64px);
    display: flex;
    justify-content: flex-end;
    gap: 50px;
    &__items {
      display: flex;
      gap: 50px;

      &__item {
        cursor: pointer;
        text-decoration: none;
        color: white;
        background-color: black;
        padding: 10px 20px;
        border-radius: 30px;
      }
    }
  }
}
