.auth_key_box {
  width: 328px;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    margin-bottom: 10px;
    width: 100%;
    font-size: 1.25rem;
    letter-spacing: 0em;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__outline {
    border: 2px solid #f0f0f0;
    border-radius: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__content {
    padding: 0 14px;
    display: flex;
    gap: 12px;
    margin-top: 18px;
    align-items: center;

    &__input {
      width: 243px;
    }

    &__show {
      width: 40px;
      height: 40px;
      display: flex;
      justify-content: flex-end;
      margin-top: 26px;
      &__eye {
        background: #F4F4F4;
        height: 37px;
        width: 37px;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 100%;
        cursor: pointer;
      }
    }
  }

  &__max_time {
    margin: 0 24px;
    margin-top: 20px;
    &__title {
      margin-bottom: 12px;
    }
  }

  &__button {
    width: calc(100% - 20px);
    margin-top: 16px;
    margin-bottom: 30px;
  }
}
