.faq_item {
  width: 100%;
  background-color: var(--grey);
  padding: 30px 60px;
  cursor: pointer;
  
  &__question {
    font-size: 20px;
    display: flex;
    justify-content: space-between;
  }

  &__answer {
    max-height: 0;
    overflow: hidden;
    transition: margin 0.5s ease;
    font-size: 18px;
    margin-right: 80px;

    & strong {
      font-weight: 700;
      font-size: 18px;
    }

    &.open {
      margin-top: 32px;
      max-height: 1000px;
      transition: margin 0.5s ease, height 0.1s ease;
    }
  }
}
