.main_section {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  &__content {
    width: 70%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    margin-top: 100px;

    &__explore {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 60px;
      gap: 24px;
    }
  }
}
