.text_section {
  font-size: 24px;
  margin: 35px 0;

  & * {
    font-size: 24px;
  }

  & strong {
    font-weight: 700;
    margin-bottom: 30px;
    padding-right: 0.25em;
  }

  & div {
    margin-bottom: 30px;
  }
  & ul {
    padding-left: 40px;
    margin-bottom: 30px;
    & li {
      margin: 20px 0;
      &:last-of-type {
        margin-bottom: 0;
      }
    }
  }
}
