.features_container {
  display: flex;
  flex-wrap: wrap;
  width: 80%;
  margin-bottom: 63px;
  gap: 50px;

  &#rev {
    flex-direction: row-reverse;
  }

  &__left {
    width: calc(50% - 25px);
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;

    &__type {
      background-color: #f8f8f8;
      border-radius: 30px;
      text-align: center;
      margin-bottom: 25px;
      padding: 15px 24px;
    }

    &__title {
      margin-bottom: 25px;
      & div {
        font-size: var(--header-2);
        font-weight: 700;
        text-align: left;

        & span {
          color: #686868;
          font-size: var(--header-2);
          font-weight: 700;
        }
      }
    }

    &__description {
      font-size: var(--paragraph-1);
      text-align: left;
    }
  }

  &__right {
    width: calc(50% - 25px);

    &__image {
      width: 100%;
      display: flex;
      justify-content: center;

      img {
        max-width: 100%;
        height: auto;
      }
    }
  }
  @media (max-width: 768px) {
    width: 90%;
    flex-direction: column;
    align-items: center;

    &__left {
      width: 100%;
      align-items: center;
      &__type {
        margin-bottom: 15px;
      }
    }

    &__right {
      width: 100%;
      margin-top: 25px;
    }
  }
}
