.final_section {
  width: 80%;
  margin-top: 183px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__title {
    width: 80%;

    & div {
      font-size: var(--header-2);
      text-align: center;
      font-weight: 700;

      & span {
        font-size: var(--header-2);
        text-align: center;
        font-weight: 700;
        color: var(--primary-orange);
        margin-right: 0.25em;
      }
    }
  }

  &__button {
    margin-top: 28px;
    width: 100%;
    display: flex;
    justify-content: center;
    &__container {
      margin-top: 32px;
      width: 300px;
      & button {
        width: 100%;
        background: var(--primary-orange);
        color: white;
        border-radius: 40px;
        border: none;
        height: 44px;
        padding: 0 24px;
        cursor: pointer;
      }
    }
  }
  @media (max-width: 768px) {
    margin-top: 65px;
    width: 90%;

    &__title {
      width: 100%;
    }
  }
}
