.getting_started {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 120px 0;
  &__header {
    width: 50%;

    &__title {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      color: #686868;
      width: 100%;
      font-size: var(--header-2);
      font-weight: 700;
      & div {
        font-weight: 700;
        font-size: var(--header-2);
        text-align: center;
        & #black {
          font-weight: 700;
          font-size: var(--header-2);
          color: #000000;
        }
      }
    }

    &__subtitle {
      margin-top: 23px;
      font-size: var(--paragraph-1);
      text-align: center;
    }
  }

  &__image {
    width: 100%;
    margin-top: 24px;
    &__container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 17px;
      & img {
        max-width: 47.5%;
        height: auto;
        min-width: 300px;
      }
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    margin: 65px 0;

    &__header {
      width: 100%;
    }
  }
}
