.main_section {
  width: 80%;
  margin-top: 95px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    width: 80%;
    &__title {
      width: 100%;
      display: flex;
      flex-direction: column;
      & p {
        text-align: center;
        width: 100%;
        font-size: var(--header-1);
        font-weight: 700;
        &#orange {
          color: var(--primary-orange);
        }
      }
    }

    &__subtitle {
      width: 100%;
      margin-top: 20px;
      & p {
        text-align: center;
        width: 100%;
        color: #414141;
        font-size: var(--paragraph-1);
      }
    }

    &__button {
      margin-top: 28px;
      width: 100%;
      display: flex;
      justify-content: center;
      &__container {
        width: 300px;
        & button {
          width: 100%;
          background: #1f1f1f;
          color: white;
          border-radius: 40px;
          border: none;
          height: 44px;
          padding: 0 24px;
          cursor: pointer;
        }
      }
    }
  }

  &__image_container {
    width: 80%;
    margin-top: 50px;
    display: flex;
    justify-content: center;
    & img {
      max-width: 100%;
      height: auto;
    }
  }

  @media (max-width: 768px) {
    width: 90%;
    margin-top: 65px;
  }
}
