.app_container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__blue_line {
    width: 100%;
    height: 8px;
    background-color: var(--blue);
    position: absolute;
  }
}
