@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

:root {
  /* Colors */
  --background-color: #ffffff;
  --blue: #2087ff;
  --dark-blue: #0052bd;
  --light-blue: #cbdffe;
  --grey: #f4f4f4;
  --dark-grey: #e2e2e2;
  --darker-grey: #777777;
  --red: #ff3b20;
  --light-red: #ffaaaa;
  --orange: #ff6f1f;

  /* Sizes */

  --header-1: 64px;
  --header-2: 48px;
  --paragraph-1: 24px;
  --paragraph-2: 16px;

  @media screen and (max-width: 768px) {
    --header-1: 32px;
    --header-2: 26px;
    --paragraph-1: 16px;
    --paragraph-2: 14px;
  }
}

.container {
  height: 100vh;
  background: var(--background-color);
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: var(--paragraph-2);
  font-weight: 400;
}
