.achievements-page {
  width: 500px;
  height: 400px;
  background-color: var(--background-color);
}

.achievements-page-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 10%;
  width: 100%;
  background-color: var(--header-color);
}

.achievements-page-back-button {
  min-width: 80px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--green);
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  margin-left: 1rem;
  border: 1px solid var(--font-color);
}

.achievements-page-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 90%;
  width: calc(100% - 2rem);
}


.achievements-page-content-website-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
}

.achievements-page-content-website-list .row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  padding: 0.5rem 0;
}

.achievements-page-content-website-list .row .icon {
  font-size: 1.5em;
}
.achievements-page-content-website-list .row .achievement {
  font-size: 1.25em;
}

