.main-page {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--background-color);
}

.main-page-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 10%;
  width: 100%;
  background-color: var(--header-color);
}

.main-page-disable-button-text {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 0.5rem;
  color: var(--font-color);
}

.main-page-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
  height: 90%;
  width: 100%;
  padding: 1rem;
}
