.tag-website-page {
  width: 500px;
  height: 400px;
  background-color: var(--background-color);
}


.tag-website-page__header {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  height: 10%;
  width: 100%;
}


.tag-website-page__body {
    display: flex;
    justify-content: center;
    gap: 0.5rem;
    height: 90%;
    width: 100%;
}
