.faq_section {
  margin-top: 150px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__title {
    &__blue {
      font-size: 46px;
      font-weight: 700;
      text-align: center;
      color: var(--blue);
    }

    &__black {
      font-size: 46px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__items {
    margin-top: 40px;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
  }
}
