.input-container {
  width: 300px;
}

.input-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
}

.input-field {
  width: calc(100% - 80px);
  padding: 5px;
  font-size: 16px;
  border: 1px solid var(--font-color);
  border-radius: 4px;
  outline: none;
}


.save-button {
  width: 90px;
  margin-top: 8px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--green);
  border: 1px solid var(--font-color);
  border-radius: 4px;
  cursor: pointer;
  margin-right: 1rem;
  color: white;
}

.save-button:hover {
  background-color: var(--hover-green);
}

.hide-button {
  width: 90px;
  margin-top: 8px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: var(--green);
  border: 1px solid var(--font-color);
  border-radius: 4px;
  cursor: pointer;
  color: white;
}

.hide-button:hover {
  background-color: var(--hover-green);
}