.configure_options {
  width: 330px;
  padding: 8px 10px;
  border-radius: 60px;
  display: flex;
  justify-content: space-between;

  &#good {
    background: var(--secondary-orange);
  }

  &#bad {
    background: var(--secondary-red);
  }

  &__option {
    border-radius: 48px;
    width: 154px;
    height: 34px;
    cursor: pointer;
    text-decoration: none;
    font-family: Inter;
    font-size: 1.25rem;
    letter-spacing: 0em;
    display: flex;
    align-items: center;
    justify-content: center;
    &#good {
      color: var(--tertiary-orange);
    }

    &#bad {
      color: var(--tertiary-red);
    }
    &.selected {
      background-color: var(--background-color);
      &#good {
        color: var(--primary-orange);
      }

      &#bad {
        color: var(--wasteful-red);
      }
    }
  }
}
