.focus_rate_box {
  display: flex;
  flex-direction: column;
  background-color: var(--primary-orange);
  width: 218px;
  height: 143px;
  border-radius: 20px;
  &__content {
    margin-left: 24px;
    margin-top: 21px;
    color: #ffffff;
    &__percent {
      font-size: 32px;
      font-weight: 700;
      line-height: 39px;
      letter-spacing: 0em;
    }
    &__text {
      margin-top: 8px;
      font-size: 24px;
      font-weight: 700;
      line-height: 29px;
      letter-spacing: 0em;
    }

    &__time {
      margin-top: 5px;
      color: #ffffff9e;
      line-height: 19.36px;
    }
  }
}
