.general_settings {
  width: 328px;
  border: 2px solid #f0f0f0;
  border-radius: 30px;
  margin-bottom: 28px;
  &__header {
    padding-top: 20px;
    padding-left: 14px;
    font-size: 1.25rem;
    letter-spacing: 0em;
  }
  &__content {
    padding: 0 24px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 18px;

    &__row {
      display: flex;

      &:last-of-type {
        margin-bottom: 24px;
      }

      &__enable {
        width: 70%;
        display: flex;
        justify-content: flex-start;
        align-items: center;
      }
      &__enable_button {
        width: 30%;
        display: flex;
        justify-content: flex-end;

        &__container {
          display: inline-block;
          cursor: pointer;

          &__switch {
            position: relative;
            width: 57px;
            height: 28px;
            border-radius: 28px;
            display: flex;
            align-items: center;
            margin-right: 10px;
            border: 2px solid #F0F0F0;
            &__circle {
              aspect-ratio: 1;
              width: 19px;
              background: var(--primary-orange);
              border-radius: 100%;
              position: absolute;
              transition: transform 0.3s;
              margin-left: 5px;

              &.on {
                transform: translateX(28px);
              }
            }
          }
        }
      }
    }
  }
}
