.menu_options {
  width: 252px;
  padding: 5px 6px;
  border-radius: 30px;
  display: flex;
  justify-content: space-between;

  &#good {
    background: var(--secondary-orange);
  }

  &#bad {
    background: var(--secondary-red);
  }

  &__option {
    padding: 6px 12.5px;
    border-radius: 18px;
    font-weight: 400;
    cursor: pointer;
    text-decoration: none;

    &#good {
      color: var(--tertiary-orange);
    }

    &#bad {
      color: var(--tertiary-red);
    }

    &.selected {
      background-color: var(--background-color);
      &#good {
        color: var(--primary-orange);
      }

      &#bad {
        color: var(--wasteful-red);
      }
    }
  }
}
