.search-bar-container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
}

.search-bar {
  width: calc(100% - 100px);
  padding: 5px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
}

.search-bar:focus {
  border-color: #33ff00;
}

.page-button {
  width: 80px;
  padding: 5px 10px;
  font-size: 14px;
  background-color: #33ff00;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.page-button:hover {
  background-color: #7cff5b;
}
