.untagged_website_list {
  width: 328px;
  height: 173px;
  border: 2px solid #f0f0f0;
  border-radius: 30px;
  margin-bottom: 28px;
  padding-right: 14px;
  &__header {
    padding-top: 25px;
    padding-left: 14px;
    font-size: 1.25rem;
    letter-spacing: 0em;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 100px;
    overflow-y: auto;
    margin-top: 16px;
    padding: 0 14px;
    &::-webkit-scrollbar {
      width: 5px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: #848484;
      width: 5px;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &__row {
      display: flex;

      &__website {
        display: flex;
        justify-content: flex-start;
        padding: 5px 0;
        width: 50%;
      }

      &__dropdown {
        display: flex;
        justify-content: flex-end;
        width: 50%;
      }
    }
  }
}
