.usage-summary {
    width: 100%;
}

.usage-summary-header {
    margin: 1rem 0;
    width: 100%;
    text-align: center;
    background-color: var(--header-color);
    font-size: 1.5em;
    font-weight: bold;  
}


.usage-summary-body {
    width: 100%;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


.usage-summary-body-row {
    display: flex;
    width: 80%;
    font-size: 1.25em;
}

.usage-summary-body-row-label {
    width: 50%;
    text-align: left;
    font-weight: bold;
}

.usage-summary-body-row-value {
    width: 50%;
    text-align: right;
}