.website_list {
  width: 452px;
  height: 239px;
  border: 2px solid #f0f0f0;
  border-radius: 30px;
  margin-bottom: 28px;
  padding-right: 14px;
  &__header {
    padding-top: 25px;
    padding-left: 24px;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0em;
  }
  &__content {
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 140px;
    overflow-y: auto;
    margin-top: 29px;
    padding: 0 20px;
    &::-webkit-scrollbar {
      width: 9px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: #848484;
      width: 5px;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &__row {
      display: flex;

      &__website {
        display: flex;
        justify-content: flex-start;
        padding: 9px 0;
        width: 55%;
      }

      &__dropdown {
        display: flex;
        justify-content: flex-end;
        width: 45%;
        gap: 8px;
        &__confirm {
          height: 14px;
          aspect-ratio: 1;
          padding: 11px;
          background: var(--primary-orange);
          border-radius: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
          
          &__icon {
            color: #ffffff;
          }
        }
        &__cancel {
          height: 14px;
          aspect-ratio: 1;
          padding: 11px;
          border: 2px solid #f0f0f0;
          border-radius: 100%;
          cursor: pointer;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}
