.welcome_section {
  &__main_text {
    &__blue {
      font-size: 56px;
      font-weight: 700;
      color: var(--blue);
      text-align: center;
    }

    &__black {
      font-size: 56px;
      font-weight: 700;
      text-align: center;
    }
  }

  &__sub_text {
    font-size: 20px;
    color: #414141;
    margin-top: 30px;
    text-align: center;
  }
}
