.usage_breakdown {
  width: 328px;
  height: 317px;
  &__content {
    &__title {
      margin-bottom: 16px;
      display: flex;
      align-items: center;
      gap: 0.5rem;
      & > h3 {
        font-size: 1.25rem;
        letter-spacing: 0em;
        font-weight: 600;
      }
    }
    &__outline {
      border: 2px solid #f0f0f0;
      border-radius: 30px;
      height: 100%;
      width: 100%;
    }
    &__list {
      width: 98%;
      display: flex;
      flex-direction: column;
      gap: 12px;
      height: 250px;
      overflow-y: auto;
      padding: 14px;
      &::-webkit-scrollbar {
        width: 7px;
      }

      &::-webkit-scrollbar-track {
        background: #f0f0f0;
        border-radius: 20px;
        margin-top: 30px;
        margin-bottom: 30px;
      }

      &::-webkit-scrollbar-thumb {
        background: #848484;
        width: 7px;
        border-radius: 20px;
      }

      &::-webkit-scrollbar-thumb:hover {
        background: #555;
      }
      &__item {
        display: flex;
        flex-direction: column;
        gap: 10px;
        &__details {
          display: flex;
          &__website {
            width: 70%;
            display: flex;
            align-items: center;
            gap: 15px;
            padding: 5px 0px;
            color: #373737;
            &__color {
              height: 15px;
              aspect-ratio: 1;
              border-radius: 100%;

              &#blue {
                background-color: var(--blue);
              }

              &#red {
                background-color: var(--red);
              }

              &#orange {
                background-color: var(--orange);
              }
              &#grey {
                background-color: var(--grey);
              }
            }
          }
          &__usage {
            width: 30%;
            display: flex;
            justify-content: flex-end;
            align-items: center;
            padding: 5px 10px;
            font-weight: 600;
            gap: 0.25em;

            & * {
              cursor: pointer;
            }
          }
        }
        &__bar {
          width: 100%;
          background-color: var(--header-color);
          height: 6px;
          & #blue {
            background-color: var(--blue);
          }

          & #red {
            background-color: var(--red);
          }

          & #orange {
            background-color: var(--orange);
          }
          & #grey {
            background-color: var(--grey);
          }
        }
      }
    }
  }
}
