#recenter_timer {
  z-index: 9999999;
  border-radius: 60px;
  position: fixed;
  top: 20px;
  right: 30px;
  min-width: 164px;
  background: #ff3b20;
  padding: 15px 14px;
  display: flex;
  align-items: center;
  gap: 14px;
  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    & * {
      color: #b70000;
      font-size: 28px;
    }
  }

  &__time {
    font-family: Inter;
    font-size: 28px;
    font-weight: 700;
    line-height: 34px;
    color: #ffffff;
  }

  &.jiggle {
    animation: jiggle 0.5s ease-in-out;
  }
}

@keyframes jiggle {
  0% {
    transform: rotate(0);
  }
  20% {
    transform: rotate(-10deg);
  }
  40% {
    transform: rotate(10deg);
  }
  60% {
    transform: rotate(-10deg);
  }
  80% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
