.website_list {
  width: 328px;
  height: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  &__header {
    font-size: 1.25rem;
    letter-spacing: 0em;
    font-weight: 600;
    height: 10%;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
  &__outline {
    border: 2px solid #f0f0f0;
    border-radius: 30px;
    height: 80%;
    width: 100%;
  }
  &__content {
    width: 98%;
    display: flex;
    flex-direction: column;
    gap: 12px;
    height: 180px;
    overflow-y: auto;
    margin-top: 16px;
    padding: 0 14px;
    &::-webkit-scrollbar {
      width: 7px;
    }

    &::-webkit-scrollbar-track {
      background: #f0f0f0;
      border-radius: 20px;
      margin-top: 20px;
      margin-bottom: 20px;
    }

    &::-webkit-scrollbar-thumb {
      background: #848484;
      width: 7px;
      border-radius: 20px;
    }

    &::-webkit-scrollbar-thumb:hover {
      background: #555;
    }

    &__row {
      display: flex;

      &__website {
        display: flex;
        justify-content: flex-start;
        padding: 5px 0;
        width: 55%;
        &:hover {
          cursor: pointer;
          color: var(--blue);
        }
      }

      &__dropdown {
        display: flex;
        justify-content: flex-end;
        width: 45%;
        gap: 8px;
      }
    }
  }
}
