.journey_card {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 37px;

  &__image {
    height: 75%;
    cursor: pointer;

    & img {
      height: 100%;
      max-width: 100%;
    }
  }

  &__content {
    width: 100%;
    height: 25%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14px;
    &__title {
      font-size: 26px;

      @media screen and (max-width: 1200px) {
        font-size: 20px;
      }
    }

    &__description {
      width: 80%;
      text-align: center;
      font-size: 18px;
      & strong {
        font-size: 18px;
        font-weight: 700;
      }

      @media screen and (max-width: 1200px) {
        font-size: 14px;

        & strong {
          font-size: 14px;
        }
      }
    }
  }
}
