/* .app {
  width: 400px;
  height: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #1e1e1e;
}
.app-header {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  height: 10%;
  width: 100%;
  background-color: #0d0d0d;
}

.app-disable-button-text {
  font-size: 1.1rem;
  font-weight: 600;
  padding-left: 0.5rem;
  color: #33ff00;
}

.app-body {
  display: flex;
  justify-content: center;
  gap: 0.5rem;
  height: 90%;
  width: 100%;
  padding: 1rem;
} */
