.app {
  width: 380px;
  height: 440px;
  overflow-y: auto;
}

.app::-webkit-scrollbar {
  display: none;
}

.app#good {
  background: var(--good-focus);
}
.app#bad {
  background: var(--bad-focus);
}

.app::-webkit-scrollbar {
  display: none;
}
