@import url("https://fonts.googleapis.com/css2?family=Inter:slnt,wght@-10..0,100..900&display=swap");

:root {
  --background-color: #ffffff;
  --primary-orange: #ff7020;
  --secondary-orange: #ffc9aa;
  --tertiary-orange: #cc4900;
  --font-color: #202020;
  --hero-grey: #f4f4f4;
  --input-grey: #e2e2e2;
  --placeholder-grey: #777777;
  --wasteful-red: #ff2020;
  --secondary-red: #ffaaaa;
  --tertiary-red: #cc0000;

  --blue: #2087ff;
  --dark-blue: #0052bd;
  --light-blue: #cbdffe;
  --grey: #f4f4f4;
  --dark-grey: #e2e2e2;
  --darker-grey: #777777;
  --red: #ff3b20;
  --light-red: #ffaaaa;
  --orange: #ff6f1f;
  --bad-focus: linear-gradient(
    180deg,
    #ffbdbd 0%,
    rgba(255, 255, 255, 0) 40.64%
  );
  --good-focus: linear-gradient(
    180deg,
    #bdddf7 0%,
    rgba(255, 255, 255, 0) 40.64%
  );

  /* Tooltip */

  --rt-opacity: 1 !important;
}

.container {
  width: 380px;
  height: 440px;
  background: #f4f4f4;
}

.container_2 {
  width: 380px;
  height: 100%;
  background: #f4f4f4;
}

.container_2::-webkit-scrollbar {
  display: none;
}

body::-webkit-scrollbar {
  display: none;
}

* {
  margin: 0;
  padding: 0;
  font-family: Inter;
  font-size: 12px;
  font-weight: 400;
  box-sizing: border-box;
}

