:root {
    --background-color : #F9F6F2;
    --font-color : #202020;
    --green: #01a72b;
    --hover-green: #6dc403;
    --header-color : #E3E0DC;
    --link-color : #0082c6;
    --red: #ff0000a4;
}



.container {
    height: 100%;
    width: 100%;
}


* {
    margin: 0;
    padding: 0;
    color: var(--font-color);
}