.app_container {
    max-width: 1440px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-x: hidden;
    &__blue_line {
      width: 100%;
      height: 8px;
      background-color: var(--blue);
      position: absolute;
      z-index: 99;
    }
  
    &::-webkit-scrollbar {
      display: none;
    }
  }
  